__HEADER__

[package]
name = "__CRATE_NAME__"
version = "0.1.0"
edition = "2024"

[lib]
name = "__LIB_NAME__"
crate-type = ["rlib", "cdylib"]

[features]
default = []
python = ["pyo3/extension-module"]

[dependencies]
pyo3 = { version = "__PYO3_VERSION__", optional = true }
__DEPENDENCIES__
